---
import Layout from "../layouts/Layout.astro";
import { FlowLayout } from "../components/flow/FlowLayout";
---

<Layout
    title="Kinetix Flow - Create Motion"
    showFooter={false}
    showAds={false}
    isApp
>
    <div
        class="h-full w-full overflow-hidden bg-slate-50 dark:bg-neutral-950 text-slate-900 dark:text-neutral-50 relative"
    >
        <FlowLayout client:only="react" />
    </div>
</Layout>
